@theme {
    --color-dark: #171513;
    --color-light: #f5f2ec;
    --color-light-dark: #b5b5b5;
    --color-kk-primary: #bf6507;
    --color-kk-accent-dark: #5c3208;
    --color-kk-accent-light: #e8c89f;
}
